
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "~bootswatch/dist/simplex/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/simplex/bootswatch";
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
body{
    background: url(/img/fondo.jpg);
}
main.contenido{
    background: url(/img/secure.jpg) no-repeat 100% center top;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#pi {
    margin-bottom: 10px;
    margin-right: 10px;
    right: 0;
    bottom: 0;
    position:absolute;
    z-index: 1000;
}
#pi a {
    display:block;
    text-decoration: none;
    color:#C0C0C0;
}